/* custom css for forms */
@import url("custom_fonts.css");
/* css by Salman */
.green-color{color: #638d72}.green-color-light{color:#00c292}
.input-group{width:95%;}
.form-group {margin-bottom: 5px !important;}
.input-group-btn .btn {padding: 4px 6px;}
input[type=text],input[type=number], select {padding: 3px 6px !important; height: 38px !important; min-width:85% !important; }
select {padding: 2px 6px !important; height: 30px !important;}
.form-control:not(textarea, select) {padding: 3px 6px !important;}
table input[type=text], table input[type=number]{text-align: center; min-width: 50px; height: 30px !important;max-width: 100% !important;}
/* width on inputs and options */ 




.white-box { background: #fff; padding: 10px !important; margin-bottom: 15px; }
th { white-space: nowrap; } /* auto size of th */
.white-box .box-title {text-transform: capitalize;}
/*.bg-title {margin-bottom: 0px !Important; }*/
.table-header{padding: 5px 0 !important;line-height: 34px !important}
/*box*/
.box{ width:100%; height:30px; background:#FFF; -webkit-box-shadow: 0px 1px 1px 0px rgba(163,150,163,0.61); -moz-box-shadow: 0px 1px 1px 0px rgba(163,150,163,0.61); box-shadow: 0px 1px 1px 0px rgba(163,150,163,0.61);}
.box_2{ width:100%; min-height: 24px !important; padding: 3px 5px; background:#FFF; -webkit-box-shadow: 0px 1px 1px 0px rgba(163,150,163,0.61); -moz-box-shadow: 0px 1px 1px 0px rgba(163,150,163,0.61); box-shadow: 0px 1px 1px 0px rgba(163,150,163,0.61);}
.box_3{ width:100%; min-height: 24px !important; background:#FFF; -webkit-box-shadow: 0px 1px 1px 0px rgba(163,150,163,0.61); -moz-box-shadow: 0px 1px 1px 0px rgba(163,150,163,0.61); box-shadow: 0px 1px 1px 0px rgba(163,150,163,0.61);}
.shadow{ color: #686868; text-shadow: 0px 2px 3px #686868;}
/* box end */
.table>tbody>tr.productclass>td { padding: 2px 0px; }
/* table product hover zoom */
.table>tbody>tr.productclass:hover{ background: #e4e7ea !important; cursor:pointer; box-shadow: 2px 2px 5px 0px #9c9c9c; z-index: 2; -webkit-transition: all 100ms ease-in; -webkit-transform: scale(1.1);-ms-transition: all 100ms ease-in; -ms-transform: scale(1.1); -moz-transition: all 100ms ease-in; -moz-transform: scale(1.1); transition: all 100ms ease-in;transform: scale(1.1); }
.well, pre { background: #fff; border-radius: 2px; }
div.col-xs-6 div.col-xs-12 .well, div.col-xs-6 .well { margin-bottom: 5px !important; }

/* radio border */
.radio-custom + .radio-custom-label:before { content: ''; background: #fff; border: 1px solid #03a9f3; display: inline-block; vertical-align: middle; width: 17px; height: 17px; padding: 2px; text-align: center; font-weight: 200 !important;}
.radio-green + .radio-custom-label:before { content: ''; background: #fff !important; border: 1px solid #00c292 !important; display: inline-block !important; vertical-align: middle !important; width: 17px !important; height: 17px !important; padding: 2px !important; text-align: center !important; font-weight: 200 !important;}


/* css by Hassan */
.table>tbody>tr>td, .table>tbody>tr>th{padding: 8px;}
.sweet-alert h2{ font-size: 20px !important; font-weight: 800 !important;}
.radio-success{ /* border:1px solid lightgray; */ margin-top: 4%!important;}
.navfont li a{font-family:"Jameel Noori Nastaleeq"!important;}
.highlighted {background: #dbc8c8 !important;}
.no-padding{padding: 0 !important;}
.no-padding-left{padding-left: 0 !important;}
.no-padding-top{padding-top: 0 !important;}
.no-padding-right{padding-right: 0 !important;}
.no-padding-bottom{padding-bottom: 0 !important;}
/*.table-responsive{
    overflow:visible !important;
}*/
/*.sttabs nav a { line-height: 1;}*/

/* st tabs */
.sttabs.tabs-style-linebox nav li.tab-current a {
    padding: 0px 10px !important;
}
.sttabs nav a {
     padding-top: 0px !important; 
}

.content-wrap section { padding: 25px 0;}
label { font-weight: 200; }
.checkbox label, .radio label { font-size: 12px; }
.margin { margin-left: 3%; margin-top: 6%; margin-bottom: 6%; }
.parent { margin-bottom: 5px !important; }
.parent .form-control { height: 33px !important; padding: 0px; }
.treeview span.indent { margin-left: 0 !important; margin-right: 10px; }
.list-group-item.node-treeview-searchable { font-size: 12px; }
td, th { text-align: center; }
.side-box { background: #fff; padding: 25px 10px 25px 10px; margin-bottom: auto; }
.scroll { overflow: scroll; height: 317px; }

/* css by Fahad */
h4.shadow {margin-bottom: 0;}
tr .productclass:nth-child(n+3){display: none;}
.btn-file { position: relative; overflow: hidden; }
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: inherit; display: block;}
#img-upload { width: 95%; padding-top: 5px; }
button.close { position: absolute; right: 0px;background: #000 !important; top: 35px;font-weight: 500; opacity: 0.8; color: #fff;padding: 1px 5px 4px 5px; }
span.close {font-size: 47px; color: #fff !important; font-weight: 300;}
.close:hover {opacity: 0.8;}
.pgtitle .bg-title {margin-bottom: 25px !important;}
.scrollbar{overflow-x: scroll; }
.scrollbar-y{overflow-y: scroll; }
/*#style-1::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
#style-1::-webkit-scrollbar{ width: 8px; height: 8px; background-color: #F5F5F5; }
#style-1::-webkit-scrollbar-thumb{ border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555; }*/
td.productclass {text-align: left;}
.table>tbody>tr.costclass>td { padding: 2px 0px; text-align: left;}
.table>tbody>tr.costclass:hover{ background: #e4e7ea !important; cursor:pointer; box-shadow: 2px 2px 5px 0px #9c9c9c; z-index: 2; -webkit-transition: all 100ms ease-in; -webkit-transform: scale(1.1); -ms-transition: all 100ms ease-in; -ms-transform: scale(1.1); -moz-transition: all 100ms ease-in; -moz-transform: scale(1.1); transition: all 100ms ease-in; transform: scale(1.1);}
.table>tbody>tr.GLAclass>td { padding: 2px 0px; text-align: left;}
.table>tbody>tr.GLAclass:hover{ background: #e4e7ea !important; cursor:pointer; box-shadow: 2px 2px 5px 0px #9c9c9c; z-index: 2; -webkit-transition: all 100ms ease-in; -webkit-transform: scale(1.1); -ms-transition: all 100ms ease-in; -ms-transform: scale(1.1); -moz-transition: all 100ms ease-in; -moz-transform: scale(1.1); transition: all 100ms ease-in; transform: scale(1.1);}

.table>tbody>tr.locator>td { padding: 2px 0px; text-align: left; }
.table>tbody>tr.locator:hover{ background: #e4e7ea !important; cursor:pointer; box-shadow: 2px 2px 5px 0px #9c9c9c; z-index: 2;-webkit-transition: all 100ms ease-in; -webkit-transform: scale(1.1); -ms-transition: all 100ms ease-in; -ms-transform: scale(1.1); -moz-transition: all 100ms ease-in; -moz-transform: scale(1.1); transition: all 100ms ease-in; transform: scale(1.1); }
.filter-option {color:#999;}
.searchtbl{width: auto !important;color: #999;font-weight: 100;}
#po th, #grn th, #sti th, #sto th {vertical-align: inherit;}
.chkmodal {padding-left: 0px !important;margin-top: 4px;margin-bottom: 4px;}
.chkmodal label::after {margin-left: -11px;}
.chkmodal label::before {margin-left: -10px;background-color: #ddd;}
.chkmodal input[type=checkbox] {margin-left: -9px;}
.chkmodal label{min-height: 13px;}
.radio-model{ margin: 0 !important; padding: 0 !important; }
.spacer-15{margin-left: 15px;margin-right:15px;}
.mail-contnet {font-weight: 500;}
.operation .tabs-vertical {width: 200px;}
.jq-icon-info {color: #fff !important;}
.rfq input#valid {background-color: #fff !important;}
.navbar .navbar-header .nav .dropdown .fa-2x {font-size: 2.5em;margin-top: 15px;}
.notify .heartbit {top: -27px;right: 12px;border: 5px solid #e6dddf;}
.notify .point {width: 8px;height: 8px;background-color: #ff1e3d;right: 20px;top: -19px;}
.dropdown .notify {margin-top: -34px;margin-right: 4px;}
.rfq .detailWidth, .rfq .exercises-tr select {width: auto !important;}
.rfq td {vertical-align: middle !important;}
.btn-danger.disabled {opacity: 0.4;}
.rfq .btn.btn-info.waves-effect.waves-light.btn-validate.pull-right{z-index: 2 !important;}
.rfq section#supplier {background: #fff !important;}
.table.supplier td {white-space: nowrap;vertical-align: middle;}
.form-group .creditdays {margin-top: 10px;}
input.searchtbl {width: auto !important;}
.entitymain .scroll {overflow: scroll;height: 468px;}
.alerts {padding: 15px;border: 1px solid transparent;}
@media (min-width: 768px){.form-horizontal .limit {width: 97%;}}
.progress-bar-white{background:#fff}
#modalpop table tbody td {padding: 2px 10px 0px 10px;vertical-align: middle;}
.right-panel .item td {vertical-align: middle !important;}
.loader { border: 16px solid #f3f3f3; /* Light grey */ border-top: 16px solid #3498db; /* Blue */ border-radius: 50%; width: 120px; height: 120px; animation: spin 2s linear infinite; }
.loader.position{position: absolute; z-index: 9999 !important; margin-top: 20%; margin-left: 50%; display:none;}
@keyframes spin { 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#myProgress { width: 100%; background-color: #ddd; }
#myBar { width: 0%; height: 12px; background-color: #4CAF50; text-align: center; line-height: 10px; color: white; }
.has-error .alert-danger {width: 95%;}
.select2-container{width: 100% !important; }
.drop-title{padding:11px 10px 15px}
#loginform.modal {text-align: center;}
@media screen and (min-width: 768px) {#loginform.modal:before {display: inline-block;vertical-align: middle;content: " ";height: 100%;}}
#loginform .modal-dialog {display: inline-block;text-align: left;vertical-align: middle;width:85%;}
/* Ubaid CSS*/
 .bs_group {color: #fff; float: left; margin-top: 14px;} .bs_group span{font-size: 16px;}

input.datepicker-autoclose {
background: #fff !important;
}

input.datepicker-autoclose-Transection {
background: #fff !important;
}

.scrollbar::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px #000;
}

::-webkit-scrollbar-thumb {
background: gray; 
box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.scrollbar-y::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px #000;
}

::-webkit-scrollbar-thumb {
background: gray; 
box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.radio label.weight300{font-weight: 300;}
/*font color*/
body, tbody, #side-menu li a, .form-control, .searchtbl, .filter-option, .select2-container--default .select2-selection--single .select2-selection__rendered {color: #000000 !important;}
.chosen-container.chosen-container-single {min-width: 250px !important;}
.Analysis3 .chosen-container.chosen-container-single {min-width: 320px !important;}
.HideField {display: none !important;}
.open>.dropdown-menu{    max-height: 500px; overflow-x: auto !important;}
.table .table-striped .table-bordered .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding: 8px 8px !important;}
.table .table-striped .table-bordered .table>tbody>tr>td, .table>tbody>tr>th { padding: 7px 8px 0px 8px !important;}
.table .table-striped .table-bordered .table>tbody>tr>td>textarea.form-control {height: 26px !important;}
label>b, label.control-label>b{color:#C00 !important;}
.color-table.info-table thead th b{color:#C00 !important;}
i.ti-trash {color: red;}

.height300{min-height: 400px !important;}
.maxheight600{max-height: 500px !important;}
.mt0{margin-top: 10px !important;}
.d-inline-block{display: inline-block;}
b, strong{font-weight: 700 !important;}
.dataTable > thead > tr > th[class*="no-search"]::after{display: none}
.label-info {font-size: 13px;}
.w-10 {min-width: 191px;border: 1px solid #a9a9a9;background: #ebebe4;padding: 3px 10px;margin-bottom: 0;}
.select2-container{/*min-width: 100% !important;*/ max-width: 475px !important;}
.chosen-disabled{opacity: 1 !important;}
.datepicker-orient-top {z-index: 1000 !important;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}

#GLAccounts .select2-selection__rendered{
    width: 221px;
}

#GLAccounts #select2-itm_trnstin_acc_code-container{
   width: 100%;
}

#GLAccounts #select2-itm_adj_acc_code-container{
    width: 100%;
}
/* scroll bar */
#table-scroll_custom1, #table-scroll_custom2 {width: 100%; overflow-x: scroll; overflow-y: hidden; }
#table-scroll_custom1{ height: 20px;}
#table-scroll_custom2{overflow:hidden;;margin-top: 10px;}
#table-scroll1 { height: 20px;}
#table-scroll2 { overflow:hidden;}








.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


